{{!-- needed to decline the date idea --}}
<li>
    {{name}}
    <button class="declineDate" data-id="{{id}}" data-newDate="{{dates}}">
    </button>
    <button class="rejectDate" data-id="{{this.id}}">Reject Date</button>
</li>