<li>
    <div class="container">
        <div class="col 12">
            <div class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
            
                            <h5 class="modal-title">Dating Questionnaire</h5>
                            <h5>Please select two options from each question.</h5>

                            <div class="modal-body"></div>
                            <div id="surveyContainer"></div>
                            <script type="text/javascript" src="./assets/js/survey.js"></script>
                        </div>
                        </div>
                    </div>
                </div>
</li>