<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Date Night</title>
	<script src="https://code.jquery.com/jquery.js"></script> 
	<script src="https://surveyjs.azureedge.net/1.0.38/survey.jquery.min.js"></script>
	
	 {{!-- <script>
		 console.log("testing main");
	 </script> --}}


	<!-- Compiled and minified CSS -->
	{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"> --}}
	<!-- Compiled and minified JavaScript -->
	{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script> --}}

</head>

<body>

	{{{ body }}}
	 {{!-- <script content-type="application/javascript"  src="./assets/js/survey.js"></script> --}}
	  <script content-type="application/javascript"  src="./assets/js/index.js"></script>
{{!-- type="application/javascript" --}}
</body>

</html>