<html>
<head>
    <title>Pick your dates</title>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>
<body>
    <div class="welcome">
        <h6>DateNight </h6>
    </div>
    <main>
        <div class="container">
            <div class="row">
                
                    <div class="col 12">
                        <!-- about me if we want to link a profile to the login -->
                        <div class="card-panel left-align white">
                            {{!--
                            <h5><strong>Let's Learn About You First</strong></h5>
                            <br>
                            <input id="name" type="text" class="validate" required>
                            <label class='active' for="name">Name (required)</label> --}}
                           
                            <h1>Select Your Perfect Dates!</h1>
                            <h4><strong>Please select your 8 favorite date ideas below</strong></h4>
                            <h5>select two options from each question.</h5>
                            
                            <div id="surveyContainer"></div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" id="newDates"> Submit </button> 
                        <button type="button" id="sign-out">Sign Out</button>
                    </div>
                
            </div>
        </div>
    </main>
    <script>
        var uid = "{{uid}}";
    </script>
    <script content-type="application/javascript" src="../assets/js/survey.js"></script> {{!-- type="text/javascript" --}}
</body>
</html>