<title>Homepage</title>

  <h1>Login to DateNight</h1>
<div class="container" id="login">

<form class="create-user-form">

  <h2 id="loginInfo">Create New User</h2>
  <input type="email" placeholder="Email Address" id="create-user-email" required>
    
  <input type="password" placeholder="Password" id="create-user-password" required>
  <button type="submit" id="submit-create-user"class="logBtn" >Submit</button>
</form>
<div id="error1">
<p> </p>
</div>


<form class="sign-in-form">
  <h2 id="loginInfo"> Sign In</h2>
  <input type="email" placeholder="Email Address" id="sign-in-email" required>
  <input type="password" placeholder="Password" id="sign-in-password" required>
  <button type="submit" id="button-sign-in" class="logBtn"> Submit</button>
</form>
<div id="error2">
<p> </p>
</div>

<button type="button" id="sign-out">Sign Out</button>

</div>


<script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>
 <script>
		 console.log("testing index");
	 </script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="./assets/js/index.js">"hi"</script>
