body, 
html {
    height: 132%;
    background-image: url(../images/background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #c94c4c
}

#quiz {
    width: 700%;
    padding: 5%;
    border: 5px solid #f2e6d9;
    background: #f9f2ec;
    margin: 2%;
}
/* getting rid of survey library button */
.sv_complete_btn {
    background: transparent;
    border: none !important;
    font-size:0;
}
/* our actual button */
#newDates {
    margin-bottom: 1%;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 87px;
    color: #b2b2b2;
    margin-top: .5%;
}

#spinit {
    font-size: 18px;
    font-weight: 500
}

#spinit {
    margin-left: 30%;
}
#spinning {
    margin-left: 40%;
}
#username,
#psw{
    color: #bc5a45
}
.two {
    color: #eea29a;
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
}