body, 
html {
    height: 132%;
    background-image: url(../images/background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #c94c4c
}

#login {
    margin-left: 30%;
    margin-top: 10%;
    color: #ffbce9;
    text-shadow: 2px 2px #000000;
}

.logBtn {
    border-radius: 25px;
    padding: 7px; 
    width: 7%;
    height: 5%; 
    background: #efe3cb;
    border: 0px;
}

#quiz {
    width: 700%;
    padding: 5%;
    border: 5px solid #f2e6d9;
    background: #f9f2ec;
    margin: 2%;
}
/* getting rid of survey library button */
.sv_complete_btn {
    background: transparent;
    border: none !important;
    font-size:0;
}
/* our actual button */
#newDates {
    margin-bottom: 1%;
    border-radius: 25px;
    padding: 12px; 
    width: 14%;
    height: 12%; 
    background: #efe3cb;
    border: 0px;
    font-size: 36px;
    font-family: 'Great Vibes', cursive;
    margin-left: 40%;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 87px;
    color: #b2b2b2;
    margin-top: .5%;
    text-shadow: 2px 2px pink;
}

#spinit {
    font-size: 28px;
    font-weight: 500;
    margin-left: 30%;
    color: #ffbce9;
    margin-top: 10%;
    text-shadow: 2px 2px #000000;

}
#spinning {
    margin-left: 42%;
    margin-bottom: 1%;
    border-radius: 25px;
    padding: 12px; 
    width: 12%;
    height: 12%; 
    background: #efe3cb;
    border: 0px;
    font-size: 36px;
    font-family: 'Great Vibes', cursive;

}

.spinContainer{
    margin-top:5%;
}
.two {
    color: #eea29a;
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
}

#canvas {
    margin-left: 20%;
}