body, 
html {
    height: 132%;
    background-image: url(../images/background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

#surverycontainer {
    width: 100%;
    height: 100%;
}
/* getting rid of survey library button */
.sv_complete_btn {
    background: transparent;
    border: none !important;
    font-size:0;
}
/* our actual button */
#newDates {
    margin-bottom: 1%;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 87px;
    color: #ef4abe;
    margin-top: .5%;
}

#spinit {
    font-size: 18px;
    font-weight: 500
}

#spinit {
    margin-left: 30%;
}
#spinning {
    margin-left: 40%;
}
